{{define "adminMenuFragment"}}
{{$role := .XUser.Role}}
{{$message := .Popup.Msg}}  
{{$isError := .Popup.IsError}}
{{$categorySlice := .CategorySlice}}

{{if eq $role "admin"}}
        <hr>
        <h3 class="text-center">Add item to the menu</h3>
        <form class="text-center mx-auto col-10 col-lg-6 d-flex flex-column gap-2 align-items-center" action="/api/item" method ="post"  enctype="multipart/form-data">
            <div class="form-floating col-12">
                <input type="text" name="item_name" id="item_name" class="form-control" placeholder="abc">
                <label for="item_name">Item Name</label>
            </div>

            <div class="d-flex flex-row justify-content-center gap-3 col-12">
                <div class="form-floating col-5">
                    <select placeholder="abc" name="cat_id" id="cat_id" class="form-control">
                        <option selected disabled></option>
                        {{range $categorySlice}}
                            <option value="{{.CategoryId}}">{{.CategoryName}}</option>
                        {{end}}
                    </select>
                    <label for="cat_id">Category</label>
                </div>
                <div class="form-floating col-5">
                    <select  placeholder="abc" name="subcat_id" id="subcat_id" class="form-control">
                        <option selected disabled></option>
                        {{range $categorySlice}}
                            <option value="{{.CategoryId}}">{{.CategoryName}}</option>
                        {{end}}
                    </select>
                    <label for="subcat_id">Sub-Category</label>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center gap-3 col-10">
                <div class="form-floating col-5">
                    <input type="number" id="cook_time_min" name="cook_time_min" min="0" max="120" class="form-control"  placeholder="abc">
                    <label for="cook_time_min">Cook Time (minutes)</label>
                </div>
                <div class="form-floating col-5">
                    <input type="text" name="price" id="price" class="form-control"  placeholder="abc">
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="display_pic" class="form-label fw-bold">Display Image</label>
                <input type="file" class="form-control" id="display_pic" name="display_pic" accept="image/*">
                <div class="form-text">Choose an image file (JPG, PNG, etc.)</div>
            </div>
            <button class="btn btn-dark col-6" type="submit">Submit</button>
        </form>

        <hr>

        <h3 class="text-center">Add Category to the menu</h3>
        <form action="/api/category" method ="post" class="mx-auto col-10 col-lg-6 d-flex flex-column align-items-center gap-2">
            <div class="container d-flex flex-row gap-2 justify-content-center">
                <div class="form-floating col-5">
                    <input id="category_name" class="form-control" type="text" name="category_name"  placeholder="abc">
                    <label for="cat_name">Category Name</label>
                </div>
                <div class="form-floating col-5">
                    <input  class="form-control" type="text" id="category_description" name="category_description"  placeholder="abc">
                    <label for="category_description">Category Description</label>
                </div>
            </div>
            <button class="btn btn-dark col-6" type="submit">Submit</button>
        </form>
    <hr>
    {{end}}

{{end}}