<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <script src="/public/js/place_order.js" defer></script>

    <meta name="menu-data" content='{{. |  ToJSON}}'>
    <meta name="category-data" content='{{.CategorySlice |  ToJSON}}'>

    {{template "headers"}}
</head>

{{$userName := .XUser.UserName}}
{{$role := .XUser.Role}}

{{template "navbar" .}}

{{$message := .Popup.Msg}}  {{$isError := .Popup.IsError}}
{{$categorySlice := .CategorySlice}}
<body>
    {{template "popup" .}}
    <h1 class="text-center bg-glass sticky-top z-5 py-2">Menu Page</h1>

    {{if eq $role "admin"}}
        <hr>
        <h3 class="text-center">Add item to the menu</h3>
        <form class="text-center mx-auto col-10 col-lg-6 d-flex flex-column gap-2 align-items-center" action="/api/item" method ="post"  enctype="multipart/form-data">
            <div class="form-floating col-12">
                <input type="text" name="item_name" id="item_name" class="form-control" placeholder="abc">
                <label for="item_name">Item Name</label>
            </div>

            <div class="d-flex flex-row justify-content-center gap-3 col-12">
                <div class="form-floating col-5">
                    <select placeholder="abc" name="cat_id" id="cat_id" class="form-control">
                        <option selected disabled></option>
                        {{range $categorySlice}}
                            <option value="{{.CategoryId}}">{{.CategoryName}}</option>
                        {{end}}
                    </select>
                    <label for="cat_id">Category</label>
                </div>
                <div class="form-floating col-5">
                    <select  placeholder="abc" name="subcat_id" id="subcat_id" class="form-control">
                        <option selected disabled></option>
                        {{range $categorySlice}}
                            <option value="{{.CategoryId}}">{{.CategoryName}}</option>
                        {{end}}
                    </select>
                    <label for="subcat_id">Sub-Category</label>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center gap-3 col-10">
                <div class="form-floating col-5">
                    <input type="number" id="cook_time_min" name="cook_time_min" min="0" max="120" class="form-control"  placeholder="abc">
                    <label for="cook_time_min">Cook Time (minutes)</label>
                </div>
                <div class="form-floating col-5">
                    <input type="text" name="price" id="price" class="form-control"  placeholder="abc">
                    <label for="price">Price</label>
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="display_pic" class="form-label fw-bold">Display Image</label>
                <input type="file" class="form-control" id="display_pic" name="display_pic" accept="image/*">
                <div class="form-text">Choose an image file (JPG, PNG, etc.)</div>
            </div> -->
            <button class="btn btn-dark col-6" type="submit">Submit</button>
        </form>

        <hr>

        <h3 class="text-center">Add Category to the menu</h3>
        <form action="/api/category" method ="post" class="mx-auto col-10 col-lg-6 d-flex flex-column align-items-center gap-2">
            <div class="container d-flex flex-row gap-2 justify-content-center">
                <div class="form-floating col-5">
                    <input id="category_name" class="form-control" type="text" name="category_name"  placeholder="abc">
                    <label for="cat_name">Category Name</label>
                </div>
                <div class="form-floating col-5">
                    <input  class="form-control" type="text" id="category_description" name="category_description"  placeholder="abc">
                    <label for="category_description">Category Description</label>
                </div>
            </div>
            <button class="btn btn-dark col-6" type="submit">Submit</button>
        </form>
    <hr>
    {{end}}

    <div class="d-flex col-11 col-lg-8 mx-auto border-queen-pink rounded-4">
        <div class="flex-shrink-1 p-2 text-queen-pink fs-4 border-filter mx-1 caveat-cursive">Filters</div>
        <div class=" d-flex  overflow-auto filter-buttons">
            {{range $categorySlice}}
                <button class="btn-filter rounded-2 m-2 col-auto" data-btn="{{.CategoryId}}">{{.CategoryName}}</button>
            {{end}}
        </div>
        <div class="clear-filter-button flex-shrink-1 p-2 text-queen-pink fs-4 border-filter border-filter-clear ms-auto mx-1 caveat-cursive">Clear</div>
    </div>

    <div class="filtered-menu-space py-3 my-2"></div>

    <div class="full-menu-space py-3 my-2">
        <div class="fs-2 text-center">Complete Menu</div>
        <div
            class="d-flex flex-column flex-lg-row flex-wrap align-items-center justify-content-center m-1 m-md-4 gap-2 gap-md-4">

            {{$itemSlice := .ItemSlice}}
            {{range $itemSlice}}
                <div class="card d-flex flex-column col-10 col-lg-5">
                    <div class="ratio ratio-21x9 menu-card-image-container">
                        <img class="card-img-top menu-card-image" src="/public/images/sample_food.png"
                        alt="sample-pic">
                    </div>
                    <div class="d-flex flex-row">
                        <div class="card-body flex-grow">
                            <div class="card-title fs-2">
                                {{.ItemName}}
                            </div>
                            <div class="card-subtitle text-muted">
                                wait time : <span class="text-queen-pink">
                                    {{.CookTimeMin}}
                                </span> Minutes
                            </div>
                            <div class="d-flex flex-row col-10">
                                <div class="flex-fill border p-2 m-1 text-center truculenta-normal fs-5">
                                    {{.Category}}
                                </div>
                                {{if .SubCategory}}
                                    <div class="flex-fill border p-2 m-1 text-center truculenta-normal fs-5">
                                        {{.SubCategory}}
                                    </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="flex-shrink-1 d-flex flex-column me-2 align-items-center justify-content-center col-2">
                            <div class="fs-3 mx-auto">₹{{.Price}}</div>
                            {{if eq $role "customer"}}
                                <button class="add-to-cart btn btn-danger" id="{{.ItemId}}">Add to Cart</button>
                            {{end}}
                            {{if eq $role "admin"}}
                                <form action="/api/item/d/{{.ItemId}}" method="post">
                                    <!-- <input type="hidden" name="_method" value="DELETE"> -->
                                    <button type="submit" class="btn btn-danger">Delete Item</button>
                                </form>
                            {{end}}
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
    
    <div class="intent-blank"></div>
    <div class="go-to-cart-space d-flex flex-row align-items-center sticky-bottom col-12 col-lg-6 offset-lg-3 p-2 rounded-top-4 mt-2">
        <div class="go-to-cart-space-text flex-grow-1 text-light fs-4 text-center">You have items in your cart !</div>
        <form action="/static/cart" method="get" class="">
            <button type="submit" class="btn btn-dark to_cart_button">View Cart</button>
        </form>
    </div>

</body>
</html>